<?xml version="1.0"?>
<robot name="iiwas" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find iiwas_description)/robots/iiwas_new_frame.urdf.xacro" />
    <xacro:include filename="$(find air_hockey_description)/urdf/iiwa_striker.urdf.xacro"/>
    <xacro:include filename="$(find air_hockey_description)/world/models/air_hockey_table/model.urdf.xacro"/>
    <!-- the mass values and inertia may not be completly correct as the moment so this model should just be used as a kinematic one now-->

    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

    <xacro:striker robot_name="F" parent="F_link_ee" hardware_interface="hardware_interface/$(arg hardware_interface)"/>

    <xacro:striker robot_name="B" parent="B_link_ee" hardware_interface="hardware_interface/$(arg hardware_interface)"/>

    <xacro:arg name="table_base_x" default="0.0"/>
    <xacro:arg name="table_base_y" default="0.0"/>
    <xacro:arg name="table_base_z" default="0.0"/>

    <xacro:air_hockey_table base_x="$(arg table_base_x)" base_y="$(arg table_base_y)" base_z="$(arg table_base_z)"/>

    <!-- Load Gazebo lib and set the robot namespace -->
<!--     <gazebo>_
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      </plugin>
    </gazebo>
 -->
</robot>
