<?xml version="1.0"?>
<launch>
    <rosparam file="$(find air_hockey_puck_tracker)/config/config.yaml" command="load" subst_value="true"/>

<!--    <node name="rviz" pkg="rviz" type="rviz"-->
<!--          args="-d $(find puck_tracker)/rviz/config.rviz"/>-->

<!--    <include file="$(find ias_optitrack_bridge)/launch/optitrack_tf.launch"/>-->

    <node name="puck_tracker" pkg="air_hockey_puck_tracker" type="tracker_node" output="screen" ns="iiwa_front"/>
<!--    <node name="puck_tracker" pkg="air_hockey_puck_tracker" type="tracker_node" output="screen" ns="iiwa_back"/>-->


</launch>