<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="$(find air_hockey_description)/world/air_hockey.world"/>
    <arg name="gui" default="true" />
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>

    <arg name="world_iiwas_f_x" default="0.0"/>
    <arg name="world_iiwas_f_y" default="0.0"/>
    <arg name="world_iiwas_f_z" default="0.0"/>
    <arg name="world_iiwas_f_roll" default="0.0"/>
    <arg name="world_iiwas_f_pitch" default="0.0"/>
    <arg name="world_iiwas_f_yaw" default="0.0"/>

    <arg name="hardware_interface" default="EffortJointInterface"/>
<!--    <arg name="hardware_interface" default="PositionJointInterface"/>-->

    <arg name="controllers" default="joint_state_controller
    $(arg hardware_interface)_Position_Controller_F_SFE $(arg hardware_interface)_Position_Controller_F_SAA
    $(arg hardware_interface)_Position_Controller_F_HR $(arg hardware_interface)_Position_Controller_F_EB $(arg hardware_interface)_Position_Controller_F_WR
    $(arg hardware_interface)_Position_Controller_F_WFE $(arg hardware_interface)_Position_Controller_F_WAA
    $(arg hardware_interface)_Position_Controller_B_SFE $(arg hardware_interface)_Position_Controller_B_SAA
    $(arg hardware_interface)_Position_Controller_B_HR $(arg hardware_interface)_Position_Controller_B_EB $(arg hardware_interface)_Position_Controller_B_WR
    $(arg hardware_interface)_Position_Controller_B_WFE $(arg hardware_interface)_Position_Controller_B_WAA"/>

<!--    <arg name="controllers" default="joint_state_controller $(arg hardware_interface)_F_Position_Controller-->
<!--    $(arg hardware_interface)_B_Position_Controller"/>-->

    <include file="$(find iiwas_description)/launch/iiwas_rviz_new.launch">
        <arg name="world_iiwas_f_x" value="$(arg world_iiwas_f_x)"/>
        <arg name="world_iiwas_f_y" value="$(arg world_iiwas_f_y)"/>
        <arg name="world_iiwas_f_z" value="$(arg world_iiwas_f_z)"/>
        <arg name="world_iiwas_f_roll" value="$(arg world_iiwas_f_roll)"/>
        <arg name="world_iiwas_f_pitch" value="$(arg world_iiwas_f_pitch)"/>
        <arg name="world_iiwas_f_yaw" value="$(arg world_iiwas_f_yaw)"/>
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    </include>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="physics" value="bullet" />
    </include>

    <node name="iiwas_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
              args="-urdf -model iiwas -param robot_description"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find air_hockey_description)/control/iiwas_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="$(arg controllers)"/>
</launch>
