<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="world_name" default="$(find air_hockey_description)/world/air_hockey.world"/>
    <arg name="air_hockey_table" default="$(find air_hockey_description)/world/models/air_hockey_table/model.sdf"/>
    <arg name="air_hockey_puck" default="$(find air_hockey_description)/world/models/puck/model.sdf"/>
    <arg name="gui" default="true" />
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>

    <arg name="world_iiwas_f_x" default="0.0"/>
    <arg name="world_iiwas_f_y" default="0.0"/>
    <arg name="world_iiwas_f_z" default="0.195"/>
    
    <arg name="hardware_interface" default="PositionJointInterface"/>
    
    <arg name="front_controllers" default="front_iiwa/joint_state_controller
                                           front_iiwa/joint_position_controller" />
    
    <arg name="back_controllers" default="back_iiwa/joint_state_controller
                                          back_iiwa/joint_position_controller"/>

    <!-- Description -->
    <include file="$(find iiwas_description)/launch/iiwas_rviz.launch">
        <arg name="world_iiwas_f_x" value="$(arg world_iiwas_f_x)"/>
        <arg name="world_iiwas_f_y" value="$(arg world_iiwas_f_y)"/>
        <arg name="world_iiwas_f_z" value="$(arg world_iiwas_f_z)"/>
        <arg name="hardware_interface" value="PositionJointInterface"/>
    </include>

    <!-- Simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <!-- <arg name="physics" value="bullet" /> -->
    </include>

    <node name="iiwas_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
                args="-urdf -model iiwas -param robot_description"/>
    <node name="air_hockey_table_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
                args="-file $(arg air_hockey_table) -sdf -model table -x 1.51 -Y 1.57079632679"/>
    <node name="air_hockey_puck_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
                args="-file $(arg air_hockey_puck) -sdf -model puck -x 1.51 -z 0.1140"/>

    <!-- Controllers -->
    <include file="$(find iiwas_control)/launch/iiwas_control.launch">
        <arg name="use_front_iiwa" value="true" />
        <arg name="use_back_iiwa" value="true" />
        <arg name="front_controllers" value="$(arg front_controllers)"/>
        <arg name="back_controllers" value="$(arg back_controllers)"/>
    </include>
</launch>
