<?xml version="1.0"?>
<launch>
    <arg name="use_front" default="true"/>
    <arg name="use_back" default="true"/>
    <arg name="hardware_interface" default="hardware_interface/PositionJointInterface"/>

    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find air_hockey_description)/rviz/air_hockey.rviz"/>

    <include file="$(find air_hockey_description)/launch/air_hockey_bringup.launch">
        <arg name="use_front" value="$(arg use_front)"/>
        <arg name="use_back" value="$(arg use_back)"/>
        <arg name="hardware_interface" value="hardware_interface/PositionJointInterface"/>
    </include>

    <group ns="iiwas_frame">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="frame_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>
    </group>

    <group ns="air_hockey_table">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="frame_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>
    </group>

    <group ns="iiwa_front" if="$(arg use_front)">
        <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>
    </group>

    <group ns="iiwa_back" if="$(arg use_back)">
        <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>
    </group>

</launch>
