<?xml version="1.0"?>
<launch>
    <arg name="iiwas_frame_urdf" default="$(find iiwas_description)/urdf/iiwas_frame.urdf.xacro"/>
    <arg name="iiwa_urdf" default="$(find air_hockey_description)/urdf/iiwa_striker.urdf.xacro"/>
    <arg name="table_urdf" default="$(find air_hockey_description)/urdf/air_hockey_table/model.urdf.xacro"/>
    <arg name="puck_urdf" default="$(find air_hockey_description)/urdf/puck/model.urdf.xacro"/>

    <arg name="table_parent" default="Table"/>
    <arg name="puck_parent" default="Puck"/>

    <arg name="front_xyz" default="0.19 0.813 0.03"/>
    <arg name="front_rpy" default="0 0 0"/>
    <arg name="back_xyz" default="3.198 0.813 0.03"/>
    <arg name="back_rpy" default="0 0 3.14159265359"/>

    <arg name="hardware_interface" default="hardware_interface/PositionJointInterface"/>
    <arg name="dynamics_parameter" default="identified"/>

    <rosparam file="$(find air_hockey_description)/config/config.yaml" command="load" subst_value="true"/>

    <group ns="iiwas_frame">
        <param name="robot_description"
               command="$(find xacro)/xacro '$(arg iiwas_frame_urdf)'"/>
    </group>

    <group ns="air_hockey_table">
        <param name="robot_description" command="$(find xacro)/xacro '$(arg table_urdf)' parent:=$(arg table_parent)"/>
    </group>

    <group ns="puck">
        <param name="robot_description"
               command="$(find xacro)/xacro '$(arg puck_urdf)' parent:=$(arg puck_parent)"/>
    </group>

    <group ns="iiwa_front">
        <param name="robot_description" command="$(find xacro)/xacro '$(arg iiwa_urdf)' robot_name:='F'
        hardware_interface:='$(arg hardware_interface)' base_xyz:='$(arg front_xyz)' base_rpy:='$(arg front_rpy)'
        dynamics_parameter:='$(arg dynamics_parameter)'"/>
        <param name="iiwa_only_description" command="$(find xacro)/xacro '$(arg iiwa_urdf)' robot_name:='F'
        contain_universal_joint:='false'"/>
    </group>

    <group ns="iiwa_back">
        <param name="robot_description" command="$(find xacro)/xacro '$(arg iiwa_urdf)' robot_name:='B'
        hardware_interface:='$(arg hardware_interface)' base_xyz:='$(arg back_xyz)' base_rpy:='$(arg back_rpy)'
        dynamics_parameter:='$(arg dynamics_parameter)'"/>
        <param name="iiwa_only_description" command="$(find xacro)/xacro '$(arg iiwa_urdf)' robot_name:='B'
        contain_universal_joint:='false'"/>
    </group>
</launch>