<?xml version="1.0"?>
<launch>
	<include file="$(find iiwas_description)/launch/iiwas_rviz.launch">
		<arg name="urdf_file" value="$(find air_hockey_description)/urdf/air_hockey.urdf.xacro"/>
	</include>

  	<node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
