<?xml version="1.0"?>
<launch>
    <arg name="use_front_iiwa" default="true"/>
    <arg name="use_back_iiwa" default="false"/>
    <arg name="hardware_interface" default="hardware_interface/EffortJointInterface"/>
    <arg name="machine_name" default="realtime" />
    <arg name="machine_address" default="192.168.10.1" />
    <arg name="front_controllers" default="adrc_trajectory_controller"/>
    <arg name="back_controllers" default="adrc_trajectory_controller"/>

    <include file="$(find air_hockey_description)/launch/air_hockey_description.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find air_hockey_description)/rviz/air_hockey.rviz"/>

    <group ns="iiwas_frame">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="frame_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>
    </group>

    <group ns="air_hockey_table">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="frame_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>
    </group>

    <group ns="puck">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="frame_publisher" output="screen">
            <param name="publish_frequency" type="double" value="50.0"/>
        </node>
    </group>

    <include file="$(find optitrack_bridge)/launch/optitrack.launch">
        <arg name="output" value="log"/>
        <arg name="use_2d" default="true"/>
        <arg name="plane_height" default="0.130"/>
    </include>

    <machine name="$(arg machine_name)" user="puze" address="$(arg machine_address)"
             env-loader="~/catkin_ws/src/iiwas_core/iiwas_bringup/env.sh" timeout="10.0" default="false"/>

    <!-- Start Air Hockey Referee -->
    <node pkg="air_hockey_referee" type="air_hockey_referee" name="air_hockey_referee" output="screen">
        <param name="physics" value="real"/>
    </node>

    <!-- Start Air Hockey rqt -->
    <node pkg="air_hockey_rqt" type="air_hockey_rqt" name="air_hockey_rqt" ns="air_hockey_referee" output="screen"/>

    <include file="$(find iiwas_bringup)/launch/iiwas_barebone.launch">
        <arg name="use_front_iiwa" value="$(arg use_front_iiwa)" />
        <arg name="use_back_iiwa" value="$(arg use_back_iiwa)" />
        <arg name="machine_name" value="$(arg machine_name)" />
        <arg name="front_controllers" value="$(arg front_controllers)" />
        <arg name="back_controllers" value="$(arg back_controllers)" />
    </include>

<!--    <include file="$(find air_hockey_gazebo)/launch/universal_joint_publisher.launch">-->
<!--        <arg name="use_front_iiwa" value="$(arg use_front_iiwa)" />-->
<!--        <arg name="use_back_iiwa" value="$(arg use_back_iiwa)" />-->
<!--        <arg name="frequency" value="100"/>-->
<!--    </include>-->

</launch>
