puck:
  fixed_base: False
  plugins:
    - module: air_hockey_pybullet.plugins.puck_tf_publisher
      class: PuckTfPublisher

iiwa_front:
  use_inertia_from_file: True
  plugins:
  - module: pybullet_ros.plugins.joint_state_pub
    class: JoinStatePub
    publish_rate: 1000
  - module: iiwas_pybullet.plugins.feedforward_trajectory_controller
    class: FeedForwardTrajectoryController
    publish_rate: 1000
    gains:
      F_joint_1: { p: 2500.0, d: 3.0 }  # Parameter for simulation
      F_joint_2: { p: 4000.0, d: 20.0 }  # Parameter for simulation
      F_joint_3: { p: 800.0, d: 3.0 }  # Parameter for simulation
      F_joint_4: { p: 2500.0, d: 10.0 }  # Parameter for simulation
      F_joint_5: { p: 300.0, d: 1.0 }  # Parameter for simulation
      F_joint_6: { p: 1000.0, d: 1.0 }  # Parameter for simulation
      F_joint_7: { p: 300.0, d: 0.1 }  # Parameter for simulation
  - module: air_hockey_pybullet.plugins.universal_joint_plugin
    class: UniversalJointPlugin

iiwa_back:
  use_inertia_from_file: True
  plugins:
  - module: pybullet_ros.plugins.joint_state_pub
    class: JoinStatePub
    publish_rate: 1000
  - module: iiwas_pybullet.plugins.feedforward_trajectory_controller
    class: FeedForwardTrajectoryController
    publish_rate: 1000
    gains:
      B_joint_1: { p: 2500.0, d: 3.0 }  # Parameter for simulation
      B_joint_2: { p: 4000.0, d: 20.0 }  # Parameter for simulation
      B_joint_3: { p: 800.0, d: 3.0 }  # Parameter for simulation
      B_joint_4: { p: 2500.0, d: 10.0 }  # Parameter for simulation
      B_joint_5: { p: 300.0, d: 1.0 }  # Parameter for simulation
      B_joint_6: { p: 1000.0, d: 1.0 }  # Parameter for simulation
      B_joint_7: { p: 300.0, d: 0.1 }  # Parameter for simulation
  - module: air_hockey_pybullet.plugins.universal_joint_plugin
    class: UniversalJointPlugin