iiwa_front:
  use_inertia_from_file: True
  plugins:
  - module: pybullet_ros.plugins.joint_state_pub
    class: JoinStatePub
    publish_rate: 1000
  - module: iiwas_pybullet.plugins.feedforward_trajectory_controller
    class: FeedForwardTrajectoryController
    publish_rate: 1000
    gains:
      F_joint_1: { p: 2500, d: 3.0 }  # Parameter for simulation
      F_joint_2: { p: 3000, d: 20.0 }  # Parameter for simulation
      F_joint_3: { p: 800, d: 3.0 }  # Parameter for simulation
      F_joint_4: { p: 1000, d: 10.0 }  # Parameter for simulation
      F_joint_5: { p: 200, d: 1.0 }  # Parameter for simulation
      F_joint_6: { p: 120, d: 0.5 }  # Parameter for simulation
      F_joint_7: { p: 100, d: 0.1 }  # Parameter for simulation
      F_striker_joint_1: { p: 3, d: 0.1 }  # Parameter for simulation
      F_striker_joint_2: { p: 3, d: 0.1 }  # Parameter for simulation

iiwa_back:
  use_inertia_from_file: True
  plugins:
  - module: pybullet_ros.plugins.joint_state_pub
    class: JoinStatePub
    publish_rate: 1000
  - module: iiwas_pybullet.plugins.feedforward_trajectory_controller
    class: FeedForwardTrajectoryController
    publish_rate: 1000
    gains:
      B_joint_1: { p: 2500, d: 3.0 }  # Parameter for simulation
      B_joint_2: { p: 3000, d: 20.0 }  # Parameter for simulation
      B_joint_3: { p: 800, d: 3.0 }  # Parameter for simulation
      B_joint_4: { p: 1000, d: 10.0 }  # Parameter for simulation
      B_joint_5: { p: 200, d: 1.0 }  # Parameter for simulation
      B_joint_6: { p: 120, d: 0.5 }  # Parameter for simulation
      B_joint_7: { p: 100, d: 0.1 }  # Parameter for simulation
      B_striker_joint_1: { p: 3, d: 0.1 }  # Parameter for simulation
      B_striker_joint_2: { p: 3, d: 0.1 }  # Parameter for simulation
