<?xml version="1.0"?>
<launch>
    <arg name="use_front_iiwa" default="true"/>
    <arg name="use_back_iiwa" default="true"/>
    <arg name="front_controllers" default="joint_feedforward_trajectory_controller"/>
    <arg name="back_controllers" default="joint_feedforward_trajectory_controller"/>
    <arg name="simulation" default="true"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <include file="$(find iiwas_control)/launch/iiwas_control.launch">
        <arg name="use_front_iiwa" value="$(arg use_front_iiwa)" />
        <arg name="use_back_iiwa" value="$(arg use_back_iiwa)" />
        <arg name="front_controllers" value="$(arg front_controllers)"/>
        <arg name="back_controllers" value="$(arg back_controllers)"/>
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <rosparam file="$(find air_hockey_gazebo)/config/gazebo_control.yaml" command="load"/>

    <group ns="iiwa_front" if="$(arg use_front_iiwa)">
        <!-- load the controllers -->
<!--        <node name="controller_striker_spawner" pkg="controller_manager" type="spawner" respawn="true"-->
<!--              output="screen" args="striker_controller"/>-->
    </group>

    <group ns="iiwa_back" if="$(arg use_back_iiwa)">
        <!-- load the controllers -->
<!--        <node name="controller_striker_spawner" pkg="controller_manager" type="spawner" respawn="true"-->
<!--              output="screen" args="striker_controller"/>-->
    </group>
</launch>